$green: #5C9692;
$dark-grey: #3E3C3B;
$off-white: #F7F7F7;

$nav-color: $dark-grey;
$nav-highlight: $green;
$background-color: $off-white;

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');